<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Alisson de Sá Nogueira
      <ion-img
  src="/assets/foto1.png"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>
    </strong>
    <strong>TURMA:ADS0303N</strong><BR>
    <strong>[PAS23103|BS|N|ADS0303N] </strong>
  </div>
</ion-content>
